{% extends 'base.html' %}
{% load static %}

{% block title %} da {% endblock %}
<h1></h1>
{% block content %}
<a href="{% url 'home' %}" class="btn btn-info">Назад</a>
<form action="" method="get" class="d-flex mb-3 gap-2 align-items-center">
    <input type="text" name="search" placeholder="Пошук користувачів" class="form-control" value="{{ request.GET.search }}" style="max-width: 300px;">
    <button type="submit" class="btn btn-primary">Пошук</button>
</form>
<div class="d-flex flex-wrap gap-3">
    {% for us in profiles %}
    <div class="card p-3" style="width: 18rem;">
        {% if us.avatar %}
            <img src="{{us.avatar.url}}" class="card-img-top" alt="..." width="100" height="100">
        {% else %}
            <img src="{% static 'img/person-circle.svg' %}" class="card-img-top" alt="..." width="100" height="100">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{us.username}}</h5>
            <p class="card-text">{{us.description}}</p>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="friend_id" value="{{ us.id }}">
                <button type="submit" class="btn btn-success mt-2">Додати в друзі</button>
                <button type="submit" name="action" value="subscribe class="btn btn-success mt-2">Підписатись</button>
            </form>
            <a href="{% url 'profile_check' us.id%}" class="btn btn-info mt-2">Переглянути профіль</a>
            
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}