{% extends 'base.html' %}

{% block title %} месенджер {% endblock %}
{% block content %}

<h1>{{ user.username }}</h1>
<div class="row">
    <div class="col">
        <a href="{% url 'profile' %}" class="btn btn-info">Профіль</a>
        <a href="{% url 'add_new_group' %}" class="btn btn-info">Створити нову групу</a>
        <h2>Ваші групи:</h2>
        <ul>
            {% for gm in groups %}
            <li>
                <a href="{% url 'group_detail' gm.group.id %}">{{ gm.group.name }}</a>
            </li>
            {% empty %}
            <li>Ви не є учасником жодної групи.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col">
        <a href="{% url 'add_friend'%}" class="btn btn-info">Додати друга</a>
        <a href="{% url 'freind_requests_view'%}" class="btn btn-info">Запрошення на дружбу</a>
        <h1>Список друзів</h1>
        {% for f in freinds %}
        {% if f.user_1 == user %}
        <li>
            <a href="{% url 'freind_chats' f.id %}">{{f.user_2.username }}</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'freind_chats' f.id %}">{{f.user_1.username }}</a>
        </li>
        {% endif %}
        {% empty %}
        <p>Немає друзів для відображення.</p>
        {% endfor %}
    </div>
    <div class="col">
        <a href="{% url 'add_post'%}" class="btn btn-info">Додати пост</a>
        <h1>Список постів</h1>
        {% for da in postets %}
        <div class="card" style="width: 18rem;">
            {% if da.img %}
            <img src="{{da.img.url}}" class="card-img-top" alt="...">
            {% else %}
            <img src="" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{da.user.username}}</h5>
                <p class="card-text">{{da.content}}</p>
                <a href="{% url 'post_info' da.id %}" class="btn btn-primary">Переглянути детально</a>

                <input type="hidden" name="request_id" value="{{ us.id }}">
                <p class="card-text">Лайки: {{ da.likes.count }}</p>
                <p class="card-text">Дизлайки: {{ da.dislikes.count }}</p>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ da.id }}">
                    <button class="btn btn-success" type="submit" name="action" value="like">ㅤ👍ㅤ</button>
                    <button class="btn btn-danger" type="submit" name="action" value="dislike">ㅤ👎ㅤ </button>
                </form>
            </div>
        </div>
        {% empty %}
        <p>Немає постів для відображення.</p>
        {% endfor %}
        <ul>
        </ul>
    </div>
</div>
</div>
{% endblock %}