{% extends 'base.html' %}

{% block title %}
{% if user.username == freind.user_1.username %}
Чат з {{ freind.user_2 }}
{% else %}
Чат з {{ freind.user_1.username }}

{% endif %}
{% endblock %}
{% block content %}
<a href="{% url 'home' %}" class="btn btn-info">Назад</a>

{% if user.username == freind.user_1.username %}
Чат з {{ freind.user_2 }}
{% else %}
Чат з {{ freind.user_1.username }}
{% endif %}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="row">
                {% for msg in messages %}
                <h4>{{ msg.user.username }} - {{ msg.content }}</h4>
            </div>
            {% endfor %}
            <form method="POST" action="">
                {% csrf_token %}
                <textarea class="form-control" style="width: 30;" name="content" rows="3" cols="50" placeholder="Напишіть повідомлення..."></textarea><br>
                <button type="submit">Відправити</button>
            </form>
        </div>

{% endblock %}