{% extends 'base.html' %}
{% load static %}
{% block title %} Додавання до групи {% endblock %}
{% block content %}
<form method="POST" action="">
    {% csrf_token %}
<div class="col">
    <div class="d-flex flex-wrap gap-3">
        {% for fr in freinds %}
        {% if fr.user_1 == user %}
        <div class="card p-3" style="width: 18rem;">
            {% if fr.user_2.avatar %}
            <img src="{{fr.user_2.avatar.url}}" class="card-img-top" alt="..." width="100" height="100">
            {% else %}
            <img src="{% static 'img/person-circle.svg' %}" class="card-img-top" alt="..." width="100" height="100">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{fr.user_2.username}}</h5>
                <p class="card-text">{{fr.user_2.description}}</p>
                <name="friend_id" value="{{fr.user_2.id}}">
                <name="group_id" value="{{group.id}}">
                <button class="btn btn-primary" type="submit">Додати до групи</button>
            </div>
        </div>
        {% endif %}
        {% if fr.user_2 == user%}
        <div class="card p-3" style="width: 18rem;">
            {% if fr.user_1.avatar %}
            <img src="{{fr.user_1.avatar.url}}" class="card-img-top" alt="..." width="100" height="100">
            {% else %}
            <img src="{% static 'img/person-circle.svg' %}" class="card-img-top" alt="..." width="100" height="100">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{fr.user_1.username}}</h5>
                <p class="card-text">{{fr.user_1.description}}</p>
                <name="friend_id" value="{{fr.user_1.id}}">
                <name="group_id" value="{{group.id}}">
                <button class="btn btn-primary" type="submit">Додати до групи</button>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </form>
    </div>
</div>
</div>

{% endblock %}