{% extends 'base.html' %}
{% load static %}

{% block title %} profile {% endblock %}

{% block content %}
<h1>Профіль користувача </h1>
<h1>{{user.first_name}} {{last_name}}</h1>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
        {% if user.avatar %}
            <img src="{{user.avatar.url}}" class="img-fluid rounded-start" alt="...">
        {% else %}
            <img src="{% static 'img/person-circle.svg' %}" class="img-fluid rounded-start" alt="..." width="200" height="200">
        {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ user.username }}</h5>
        <p class="card-text">{{user.description}}</p>
        <p class="card-text">Email: {{ user.email }}</p>
        <p class="card-text">Телефон: {{ user.phone }}</p>
        <p class="card-text">Дата народження: {{ user.birth_date }}</p>
        <p class="card-text"><small class="text-body-secondary"></small></p>
      </div>
    </div>
  </div>
</div>


{% endblock %}